<!-- <div>
  <button (click)="back()">Back</button>
  <h3>Makeup & Hair</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let makeup of packages">
      <div class="card">
        <img class="card-img-top unique-image" src="{{makeup.makeupImg}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{makeup.type}}</h4>
          <p class="card-text">{{makeup.description}}</p>
          <p class="card-text">{{makeup.price | currency:"INR"}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->

<!-- <div>
   
  
    <button class="back-btn" (click)="back()">
      <span class="glyphicon glyphicon-backward"></span>
    </button>
    
    <h3>Makeup & Hair</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let makeup of packages">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top unique-image" src="{{makeup.image}}" alt="Card image">
              <h4 class="card-title">{{makeup.name}}</h4>
              <p class="card-text">{{makeup.description}}</p>
              <p class="card-text">{{makeup.price | currency:"INR"}}</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->