<div class="cards mb-3">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">About Us</h1>
        <p class="card-text">Blissful Beginnings was created with the notion that all events should be unique and thoughtful. Our team has worked in the Portland area for over 15 years in weddings and special events. We've done everything from an orchard country wedding of 20 people, to managing high-touch corporate galas and multi-day events. Our foundation of events is built on providing a full-service and freshly creative team to our special clients.</p>
        <p class="card-text" class="text-center" style="font-family: 'Courier New', Courier, monospace;" > Truth - we love what we do, and take pride in creating experiences for our clients!</p>
      </div>
    </div>
  </div>
  
  <h2 class="team-heading">The Team</h2>
  <div class="Images">
    <div class="row">
      <div class="col-md-4" *ngFor="let image of images">
        <img [src]="image.url" class="card-img-top image-item" alt="Image {{image.id}}" (click)="toggleName(image.id)" [class.show-name]="showName === image.id" (mouseover)="mouseOver()" (mouseleave)="mouseLeave()">
        <div class="image-name" *ngIf="showName === image.id">{{image.name}}</div>
      </div>
    </div>
  </div>