.card-body {
    background-image:url('https://adornmentevents.com/wp-content/uploads/home-hero-bg.jpg');
    width: 100%;
  }
  .card-text{
    margin-bottom: 40px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
   
  }
  .Images {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px; 
    margin-left: 30px;
    margin-right: 30px;
  }
  .card{
    display: flex;
    justify-content: center;
    margin-top: 10px; 
  }
  .cards{
    margin-top: 10px;
    margin-left: 10px;
  }
  .underline {
    text-decoration: underline;
    margin-top: 30px;
  }
  .card-img-top {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
   margin-bottom: 10px;
  }
  
  .card-img-top:hover {
    transform: scale(1.05);
  }
  .image-item {
    margin-bottom: 10px; 
  
  }
  .image-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-name.show-name {
    opacity: 1;
  }
  
  .card-title{
    text-align: center;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    font-weight: bolder;
  }
  
  h2{
    text-align: center;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  .team-heading {
    margin-bottom: 20px;
  }
  