.gallery-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
  }

  .gallery-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
  }
  .gallery-image:hover {
    transform: scale(1.05); 
  }