/* .navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
    @media (max-width: 768px) {
      
      .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
      }
    }
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  .navbar-nav > li > a {
    color: rgb(131, 125, 125); 
    cursor: pointer;
  }
  
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background-color: transparent !important; 
    color: lightgray !important; 
  }
  
   .logo-img {
    width: 120px;
    height: auto; 
    margin-right: 10px; 
  }  */

  /* Style for the navigation bar */
.navbar {
  background-color: #fafaf7; 
}

.navbar-brand {
  color: rgb(255, 251, 251); 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.navbar-brand:hover {
  color: rgb(16, 16, 16); /* Change color on hover */
}

.navbar-nav .nav-link {
  color: rgb(46, 54, 31); /* Color for regular links */
  
}

.navbar-nav .nav-link:hover {
  color: rgb(15, 15, 15); /* Change color on hover */
}

/* Style for the cart button */
.btn-cart {
  position: relative;
}

.btn-cart .fas.fa-cart-plus {
  font-size: 30px; /* Adjust font size */
}

.badge.bg-danger {
  position: absolute;
  top: -8px;
  right: -10px;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: red; /* Badge background color */
  color: white; /* Badge text color */
}

.navbar {
  margin-bottom: 0; /* Remove bottom margin */
  padding-top: 0px; /* Add top padding */
  padding-bottom: 0px; /* Add bottom padding */

}
.navbar {
  margin-bottom: 0; /* Remove bottom margin */
}

.btn{
  align-items: right;
  display: flex;
  padding: 5px;
}


