
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="main">
<nav   class="navbar navbar-expand-lg navbar-dark">

  <div class="container-fluid">
    <a class="navbar-brand " routerLink="home" style="color: rgb(113, 112, 112);">Blissful Beginnings</a>
    <!-- <a class="navbar-brand" routerLink="home">
      <img src="assets/Images/logo.jpg" alt="Logo" height="40">
    </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon btn-bg-primary"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="service.isUserLogged  && !admin.isAdmin">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"   routerLink="partners">PREFFERED PARTNERS</a>
            <a class="dropdown-item"   routerLink="about">ABOUT</a>

            
          </div>
          </li> 
      
        <li class="nav-item">
          <a class="nav-link" *ngIf="service.isUserLogged && !admin.isAdmin"   routerLink="services">Services</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="service.isUserLogged  && !admin.isAdmin">
            Gallery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngIf="service.isUserLogged"  routerLink="all">All</a>
            <a class="dropdown-item" *ngIf="service.isUserLogged"  routerLink="urban">Urban</a>
            <a class="dropdown-item" *ngIf="service.isUserLogged"  routerLink="ballroom">Ball Room</a>
            
          </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!service.isUserLogged && !admin.isAdmin"   routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!service.isUserLogged && !admin.isAdmin"  routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="service.isUserLogged && !admin.isAdmin"  routerLink="contact">Contact Us</a>
        </li>
       
        <!-- <li class="nav-item">
          <a class="nav-link" *ngIf="!service.isUserLogged && !admin.isAdmin"   routerLink="login">Admin</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" *ngIf="service.isUserLogged && !admin.isAdmin "  href="#"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </li> -->
        <div class="ml-auto">
        <button *ngIf="service.isUserLogged && !admin.isAdmin " routerLink="addtocart" class="btn" >
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger"></div>
      </button>
    </div>

    
        <!-- <li class="nav-item">
          <a class="nav-link" *ngIf="service.isUserLogged && !admin.isAdmin" ><i class="fas fa-heart"></i></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" *ngIf="admin.isAdmin" (click)="navigateToCategory('Decor')">Decor</a>
        </li>
             <li class="nav-item">
          <a class="nav-link" *ngIf="admin.isAdmin" (click)="navigateToCategory('dinning')">Dinning</a>
        </li>
           
                <li class="nav-item">
                  <a class="nav-link" *ngIf="admin.isAdmin" routerLink="adminfeast">Feast</a>
                </li>
                
               
                    <li class="nav-item">
                      <a class="nav-link" *ngIf="admin.isAdmin" (click)="navigateToCategory('makeup')">Makeup & Hair</a>
                    </li>
                    
                    
                  

                        <li class="nav-item">
                          <a class="nav-link" *ngIf="admin.isAdmin" routerLink="customerdetails">Customer Details</a>
                        </li>
 
                        <li class="nav-item">
                          <a class="nav-link" *ngIf="service.isUserLogged || admin.isAdmin" routerLink="logout">Log out</a>
                        </li>


                        <!-- <div class="ml-auto">
                          <button *ngIf="service.isUserLogged && !admin.isAdmin" routerLink="addtocart" class="btn">
                            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                            <div style="font-size: 10px;" class="badge bg-danger"></div>
                          </button>
                          <li class="nav-item">
                            <a class="nav-link" *ngIf="service.isUserLogged && !admin.isAdmin" routerLink="logout">Log out</a>
                          </li>
                        </div> -->
      </ul>
    </div>
  </div>
</nav>
</div> 


