 /* Styles for the container */
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles for the card */
  .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0, 0, 0.2);
  }
  
  /* Styles for the card body */
  .card-body {
    padding: 0; /* Remove padding from card body */
  }
  
  /* Styles for the card image */
  .card-img-top {
    width: 100%;
    height: 200px; /* Increased height */
    object-fit: cover;
    border-radius: 10px 10px 0 0;

  }
  
  /* Styles for the card details */
  .card-details {
    padding: 20px;
    text-align: center; /* Align content in the center */
  }
  
  /* Styles for the card title */
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Styles for the card text */
  .card-text {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  
 /* Styles for the add to cart button */
.btn {
    font-size: 16px;
    padding: 10px 15px; /* Decreased padding */
    margin: 10px auto; /* Center horizontally and add margin */
    display: block;
    width: 150px; /* Adjust width based on content */
  }
  
  
  
  h3{
    text-align: center;
    font-style: italic;
    color: gold;
  }

  .back-btn {
  
    color: #0b0b0b; /* Text color */
    border: none; /* Remove button border */
    padding: 8px 12px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 20px;
  }
  
  /* Styles for the glyphicon icon */
  .glyphicon {
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  /* Hover styles for button */
  .back-btn:hover {
    background-color: #f8e8a6; /* Darker color on hover */
  }
  