.body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://i.pinimg.com/564x/4f/4d/90/4f4d909fc4aa8817562bc63aa3b0dac1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.div img:hover {
    transform: scale(1.1);
}

.text {
    font-size: 16px;
    color: rgb(12, 12, 12);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: lighter;
    padding: 70px;
}
h1{
    text-align: center;
    color:goldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    }