<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="body">
   <div class="login-container">
    <div class="login">
        <h1>Login</h1>
        <form #loginForm = "ngForm" (ngSubmit) = "login(loginForm.value)" novalidate>
    
       
        <label for="email">EmailId</label>
        <div class="ipc">
        <span class="glyphicon glyphicon-user"></span>
        <input type="email" name="emailId" ngModel #emailId="ngModel" required minlength="5" maxlength="40" pattern="[a-zA-Z0-9._%+-]+@gmail\.com"/>
        </div>
    
        <div style="color:red ;" *ngIf="emailId.errors?.['required']&&emailId.touched&&emailId.dirty">please Enter emailID</div>
    <div  style="color:red ;" *ngIf="emailId.errors?.['minlength']&&emailId.touched">Mininmum characer are 5</div>
        <br/>
        <div style="color:red;" *ngIf="emailId.errors?.['pattern']">
            Email must be in valid format
        </div>
        <label for="password">Password</label>
        <div class="ipc">
        <span class="glyphicon glyphicon-lock"></span>
        <input type="password" name="password" ngModel #password="ngModel" required minlength="3" maxlength="15" />
        </div>
        <div style="color:red ;" *ngIf="password.errors?.['required']&&password.touched">please Enter Password</div>
        <div style="color:red ;" *ngIf="password.errors?.['minlength']&&password.touched">Minimum length is  5</div><br/>
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-primary">Login</button>
    </form>
    
    </div>
   </div>
</div>