.body {
  
    font-family: 'Courier New', Courier, monospace;
    background-image: url('https://i.pinimg.com/564x/8d/66/13/8d6613ac18d94e43465b342f6705508a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    opacity: 0.5;
    margin-top: -40px;
  }
  
  .login-container {
    width: 300px;
    margin: 40px auto;
    padding: 10px;
  }
  
  .login {
    padding: 10px;
  }
  
  .login h1 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .ipc {
    position: relative;
    margin-bottom: 20px;
  }
  
  .ipc span.glyphicon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ccc;
  }
  
  
  .ipc input[type="email"],
  .ipc input[type="password"] {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .ipc input[type="email"]:focus,
  .ipc input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .btn-outline-primary {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-outline-primary:hover {
    background-color: #23527c;
    border-color: #23527c;
  }
  
  .btn-outline-primary[disabled] {
    background-color: #ccc;
    color: #666;
    border-color: #ccc;
    cursor: not-allowed;
  }

  .login input[type="email"],
.login input[type="password"] {
  background-color: transparent;
  padding-left: 30px;
}
h1{
  text-align: center;
  color: goldenrod;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}