/* Style the back button */
.back-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the table container */
  .container {
    margin-top: 20px;
  }
  
  /* Style the table */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Style table header */
  th {
    background-color: #007bff;
    color: white;
    padding: 10px;
  }
  
  /* Style table cells */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style table row on hover */
  tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Style edit and delete buttons */
  .add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .add-to-cart-button:hover {
    background-color: #218838;
  }
  
  /* Center align text in h3 element */
  h3 {
    text-align: center;
  }
  

  .back-btn {
  
    color: #0b0b0b; /* Text color */
    border: none; /* Remove button border */
    
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 20px;
  }
  
  /* Styles for the glyphicon icon */
  .glyphicon {
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  /* Hover styles for button */
  .back-btn:hover {
    background-color: #f8e8a6; /* Darker color on hover */
  }
 