<button class="back-btn" (click)="back()">
    <span class="glyphicon glyphicon-backward"></span>
  </button>
  <div class="col-md-6 offset-md-6 d-flex justify-content-end">
    <button class="btn btn-primary" (click)="addNew()">Add New Item</button>
  </div>
  <div class="container">
    <div *ngIf="menuItems.length > 0">
      <h3 style="text-align: center;">Menu Items</h3>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menuItems">
            <td>{{ menu.menuId }}</td>
            <td>{{ menu.itemName }}</td>
            <td><button class="btn btn-primary" (click)="updateMenu(menu)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="delete(menu)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  

  <!--Modal-->
  <div id="empModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Update Menu Items</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <table align="center">
                <tbody>
                  <tr>
                    <td>Item Name</td>
                    <td><input type="text" name="name" [(ngModel)]="menuItems.itemName"/></td>
                </tr>      
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateItems()" class="btn btn-secondary" data-dismiss="modal">Update Menu Items</button>
        </div>

      </div>
    </div>
  </div>