<!-- <div class="body">
    <div class="container formcontainer">
        <form method="post">
          <h1>Contact Us</h1>
         
          <input type="text" name="name" class="form-control" placeholder="Name..." ng-model="formData.name">
          
          <input type="email" name="email" class="form-control" placeholder="Email..." ng-model="formData.email">
          
          <input type="tel" name="contactNumber" class="form-control" placeholder="Contact Number..." ng-model="formData.contactNumber">
         
          <input type="text" name="location" class="form-control" placeholder="Location..." ng-model="formData.location">
          
          <input type="text" name="guestcount" class="form-control" placeholder="Guesst Count..." ng-model="formData.guestcount">
         
          <input type="date" name="dateOfEvent" class="form-control" placeholder="Date of Event..." ng-model="formData.dateOfEvent">
         
          <textarea name="moreDetails" class="form-control" placeholder="More Details..." ng-model="formData.moreDetails"></textarea>
          <button type="submit" ng-click="processForm()" class="btn btn-success btn-lg btn-block">Submit!</button>
        </form>
      </div>
    </div> -->



    <div class="body">
      <div class="container formcontainer">
        <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm" novalidate>
          <h1>Contact Us</h1>
          <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="formData.name" required>
          <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="formData.email" required>
          <input type="tel" name="contactNumber" class="form-control" placeholder="Contact Number" [(ngModel)]="formData.contactNumber" required>
          <input type="text" name="location" class="form-control" placeholder="Location" [(ngModel)]="formData.location">
          <input type="text" name="guestcount" class="form-control" placeholder="Guest Count" [(ngModel)]="formData.guestCount">
          <!-- <input type="date" name="dateOfEvent" class="form-control" placeholder="Date of Event" [(ngModel)]="formData.dateOfEvent"> -->
          <textarea name="moreDetails" class="form-control" placeholder="More Details" [(ngModel)]="formData.moreDetails"></textarea>
          <button type="submit" [disabled]="!contactForm.valid" class="btn btn-success btn-lg btn-block">Submit!</button>
        </form>
      </div>
    </div>
    
    