





.formcontainer {
  max-width: 600px; 
  margin: auto; 
  border: none;
}


.form-control {
  margin-bottom: 15px; 
  border: none;
  border-radius: 0px;
}


.btn-submit {
  width: 100%; 
  margin-top: 15px; 
}

h1{
  text-align: center;
}
.body{
  /* background-image: url('https://i.pinimg.com/236x/91/bd/6d/91bd6d071c81c12e12945f49bd121788.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: goldenrod;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}


