
<button class="back-btn" (click)="back()">
  <span class="glyphicon glyphicon-backward"></span>
</button>
<div class="main">
<div class="container">
  <div *ngIf="menuItems?.length > 0">
    <h3 style="text-align: center;">Menu Items</h3>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <!-- <th>Name</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menuItem of menuItems">
          <!-- <td>{{ menuItem.menuId }}</td> -->
          <td>{{ menuItem.itemName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <button class="add-to-cart-button">Add To Cart</button> -->
</div>
</div>