/* Style for back button */
.back-btn {
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .back-btn:hover{
background-color: rgb(234, 205, 133);
  }
  
  /* Style for container */
  .container {
    margin: 20px auto;
    padding: 20px;
    border:none;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
   
    
  }
  
  /* Style for table */
.table {
    width: 80%; /* Decrease width of the table */
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
  }
  
  /* Style for table head */
  .table th {
    padding: 8px; /* Decrease padding */
    font-size: 14px; /* Decrease font size */
    background-color: #007bff;
    color: #fff;
    text-align: left;
  }
  
  /* Style for table body */
  .table td {
    padding: 8px; /* Decrease padding */
    font-size: 14px; /* Decrease font size */
    border-bottom: 1px solid #ccc;
  }
  
  /* Style for add-to-cart button */
  .add-to-cart-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  .main{
    background-image: url('https://i.pinimg.com/736x/1f/2e/d7/1f2ed796410477e1a734a08a516a7c9e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
  }