<!-- <div>

  
   
    <button class="back-btn" (click)="back()">
      <span class="glyphicon glyphicon-backward"></span>
    </button>
  <h3>Food Items</h3>
  <div class="container">
      <div class="row">
          
       
        <div *ngFor="let items of Food" class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="{{items.image}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{items.name}}</h4>
              <p class="card-text">{{items.description}}</p>
              <p class="card-text">{{items.price | currency:"INR"}}</p>
              
              <button class="btn btn-primary"><a [routerLink]="['/menu', { name: items.name }]" style="text-decoration: none; color: white;">View Menu</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->


   <button class="back-btn" (click)="back()">
    <span class="glyphicon glyphicon-backward"></span>
  </button>
<h3>Food Items</h3>
<div class="container">
    <div class="row">
        
     
      <div *ngFor="let food of Food" class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="{{food.itemImage}}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{food.category}}</h4>
            <p class="card-text">{{food.itemDescription}}</p>
            <p class="card-text">{{food.itemPrice | currency:"INR"}}</p>
            <!-- <a href="#" class="btn btn-primary" (click)="displayMenu(items.category)">View Menu</a> -->
            <button class="btn btn-primary"><a [routerLink]="['/menu', { category: food.category }]" style="text-decoration: none; color: white;">View Menu</a></button>
            <button class="btn btn-primary" (click)="addToCart(food)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>