/* Styles for form container */
.form-container {
    margin: 50px auto; /* Center the form horizontally */
    width: 70%; /* Decrease the width of the form */
    max-width: 500px; /* Maximum width of the form */
    border: 1px solid #ccc; /* Border around the form */
    padding: 20px; /* Add padding inside the border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

/* Styles for form groups */
.form-group {
    margin-bottom: 20px;
}

/* Styles for labels */
label {
    font-weight: bold;
}

/* Styles for form controls */
.form-control {
    width: 100%; /* Full width for input fields */
    padding: 12px; /* Increase padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
}

/* Styles for buttons */
.btn {
    margin-top: 10px; /* Add margin to separate buttons */
}

/* Optional: Style submit button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Optional: Style disabled button */
.btn-primary:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
