<!-- 
    <form (ngSubmit)="addNewProduct()" #productForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="card.name" *ngIf="isCardForm" required>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="haldi.name" *ngIf="isHaldiForm" required>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="sangeeth.name" *ngIf="isSangeethForm" required>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="card.description" *ngIf="isCardForm" required></textarea>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="haldi.description" *ngIf="isHaldiForm" required></textarea>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="sangeeth.description" *ngIf="isSangeethForm" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="card.price" *ngIf="isCardForm" required>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="haldi.price" *ngIf="isHaldiForm" required>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="sangeeth.price" *ngIf="isSangeethForm" required>
      </div>
  
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category" [(ngModel)]="category" required>
          <option value="">Select Category</option>
          <option value="Wedding" *ngIf="isCardForm">Wedding</option>
          <option value="Haldi" *ngIf="isHaldiForm">Haldi</option>
          <option value="Sangeeth" *ngIf="isSangeethForm">Sangeeth</option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" class="form-control" id="image" name="image" [(ngModel)]="card.image" *ngIf="isCardForm" required>
        <input type="text" class="form-control" id="image" name="image" [(ngModel)]="card.image" *ngIf="isHaldiForm" required>
        <input type="text" class="form-control" id="image" name="image" [(ngModel)]="card.image" *ngIf="isSangeethForm" required>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="switchToCardForm()">Switch to Card Form</button>
        <button type="button" class="btn btn-primary" (click)="switchToHaldiForm()">Switch to Haldi Form</button>
        <button type="button" class="btn btn-primary" (click)="switchToSangeethForm()">Switch to Sangeeth Form</button>
      </div>
  
      <button type="submit" class="btn btn-success">Add Product</button>
    </form>

   -->

   <form (ngSubmit)="addNewProduct()" #productForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newProduct.name" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="newProduct.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" [(ngModel)]="newProduct.price" required>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" name="category" [(ngModel)]="selectedCategory" [(ngModel)]="newProduct.category" (change)="selectCategory()" required>
        <option value="">Select Category</option>
        <option value="Decor">Decor</option>
        <!-- <option value="Food">Food</option> -->
        <option value="makeup">Makeup</option>
        <option value="dinning">Dinning</option>
      </select>
    </div>
    <div class="form-group" *ngIf="showImageInput">
      <label for="image">Image</label>
      <input type="text" class="form-control" id="image" name="image" [(ngModel)]="newProduct.image" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Add</button>
  </form>
  