<table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td><img [src]="item.itemImage" alt="Item Image" height="50"></td>
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemDescription }}</td>
        <td>{{ item.itemPrice | currency:"INR" }}</td>
        <td>{{item.itemCategory}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCartItems(item.cartId)">Delete</button>
         
        </td>


      </tr>
    </tbody>
    <div>Total Price: {{ calculateTotalPrice() | currency:"INR" }}</div>
    <div class="button-container">
    <button class="btn btn-primary" (click)="empModal()">Book Now</button>
    <button class="btn btn-primary add-more-btn" (click)="addMore()" >Add More</button>
  <!-- <button class="btn btn-primary" (click)="empModal(item)">Book Event</button> -->
</div>
  </table>
  



   <!-- <div id="empModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Book Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <table align="center">
                <tbody>
                    <tr>
                        <td>Phone Number</td>
                        <td><input type="text" name="phone number"   /></td>
                    </tr>
                    <tr>
                        <td>Event Date</td>
                        <td><input type="date" name="date" /></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" name="address"  /></td>
                    </tr>                            
                    <tr *ngFor="let item of cartItems">
                      <td>{{ item.itemName }}</td>
                      <td>{{ item.itemPrice | currency:"INR" }}</td>
                     
                    </tr>
                   
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bookevent()">Book Event</button>
        </div>

      </div>
    </div>
  </div>  -->

  


  <!-- Modal -->
<!-- <div id="empModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table align="center">
          <tbody>
            <tr>
              <tr *ngFor="let item of cartItems">
                <td>{{ item.itemName }}</td>
                <td>{{ item.itemPrice | currency:"INR" }}</td>
               
              </tr>
            <tr>
              <td>Phone Number</td>
              <td><input type="text" name="phoneNumber" [(ngModel)]="bookEvent.phoneNumber" required></td>
            </tr>
            <tr>
              <td>Event Date</td>
              <td><input type="date" name="eventDate" [(ngModel)]="bookEvent.eventDate" [min]="minEventDate" required></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><input type="text" name="address" [(ngModel)]="bookEvent.address" required></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="bookevent()" >Book Event</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="payNow()" >Pay Now</button>
      </div>
    </div>
  </div>
</div> -->


<div id="empModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table align="center">
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>{{ item.itemName }}</td>
              <td>{{ item.itemPrice | currency:"INR" }}</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td><input type="text" name="phoneNumber" [(ngModel)]="bookEvent.phoneNumber" required></td>
            </tr>
            <tr>
              <td>Event Date</td>
              <td><input type="date" name="eventDate" [(ngModel)]="bookEvent.eventDate" [min]="minEventDate" required></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><input type="text" name="address" [(ngModel)]="bookEvent.address" required></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [disabled]="!isFormValid()"  data-dismiss="modal"  (click)="startAnimation()" (click)="bookevent()">Book Event</button>
        <button type="button" class="btn btn-primary" [disabled]="!isFormValid()"  (click)="payNow()">Pay Now</button>
      </div>
    </div>
  </div>
</div>
