<!-- <button class="back-btn" (click)="back()">
  <span class="glyphicon glyphicon-backward"></span>
</button> -->

<form (ngSubmit)="addMenu()" #makeupForm="ngForm">
    <div class="form-group">
      <label for="Id">Id</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="newMenu.menuId" required>
    </div>
    <label for="Item Name">Category</label>
    <select class="form-control" id="category" name="category" [(ngModel)]="newMenu.category" required>
        <option>Malayalam</option>
        <option>Andhra Pradesh</option>
        <option>Gujarath</option>
        <option>west Bengal</option>
        <option>Rajasthan</option>
        <option>TamilNadu</option>
        <option>Telangana</option>
        <option>Karnataka</option>
    </select>
    <div class="form-group">
      <label for="Item Name">Item Name</label>
      <textarea class="form-control" id="itemName" name="itemName" [(ngModel)]="newMenu.itemName" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>