<header>Preferred Partners</header>
<h1>Bakeries</h1>
<div class="cards">
<div class="card">
    <div class="card-body">
      <h2 class="card-title">Hungry Hero</h2>
      <h3 class="card-subtitle mb-2 text-muted">Alex Wilson</h3>
      <p class="card-text">503.791.5948</p>
      <a href="#" class="card-link">thehungryhero.com</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Luxe Sucre Desserts</h2>
      <h3 class="card-subtitle mb-2 text-muted">Brandon&Chanelle</h3>
      <p class="card-text">503.694.2321</p>
      <a href="#" class="card-link">luxsucre.com</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Jaciva's</h2>
      <h3 class="card-subtitle mb-2 text-muted">Laura Miles</h3>
      <p class="card-text">503.234.8115</p>
      <a href="#" class="card-link">www.jacivas.com</a>
    </div>
  </div>
  </div>
<h1>Caterers</h1>
  <div class="cards">
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Pearl Catering</h2>
        <h3 class="card-subtitle mb-2 text-muted">Ashley Marxen</h3>
        <p class="card-text">503.438.0017</p>
        <a href="#" class="card-link">pearlcateringpdx.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Crave Catering</h2>
        <h3 class="card-subtitle mb-2 text-muted">Carolyn Brazada</h3>
        <p class="card-text">503.224.0370</p>
        <a href="#" class="card-link">cravepdx.com</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Vibrant Table</h2>
        <h3 class="card-subtitle mb-2 text-muted">Brandon&Chanelle</h3>
        <p class="card-text">503.297.9635</p>
        <a href="#" class="card-link">vibranttable.com</a>
      </div>
    </div>
  </div>
<h1>DJ  Services</h1>
  <div class="cards">
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">NW Premier Mobile DJs</h2>
        <h3 class="card-subtitle mb-2 text-muted">Joshua Fancher</h3>
        <p class="card-text">503.453.7751</p>
        <a href="#" class="card-link">NWPMDJshotmail.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Mobile Music DJs</h2>
        <h3 class="card-subtitle mb-2 text-muted">Jeff Trinci</h3>
        <p class="card-text">503.939.0708</p>
        <a href="#" class="card-link">mobilemusicdjs.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">John Ross Music</h2>
        <h3 class="card-subtitle mb-2 text-muted">Jenny</h3>
        <p class="card-text">503.939.0708</p>
        <a href="#" class="card-link">johnrossmusic.com</a>
      </div>
    </div>
    </div>
    <h1>Florists</h1>
  <div class="cards">
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Blum</h2>
        <h3 class="card-subtitle mb-2 text-muted">Jordan Gladlow</h3>
        <p class="card-text">503.851.1672</p>
        <a href="#" class="card-link">blumfloraldesign.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Mimosa Floral Company</h2>
        <h3 class="card-subtitle mb-2 text-muted">Anna Nelson</h3>
        <p class="card-text">503.475.8103</p>
        <a href="#" class="card-link">mimosafloralcompany.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Amanda Karam Floral</h2>
        <h3 class="card-subtitle mb-2 text-muted">Amanda Karam</h3>
        <p class="card-text">503.320.2329</p>
        <a href="#" class="card-link">amandakaram.com</a>
      </div>
    </div>
    </div>
    <h1>makeup + Hair</h1>
  <div class="cards">
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Kelli Thomsen Beauty</h2>
        <h3 class="card-subtitle mb-2 text-muted">Kelli Thomsen</h3>
        <p class="card-text">503.851.1672</p>
        <a href="#" class="card-link">Kellithomsen.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Glamourise PDX</h2>
        <h3 class="card-subtitle mb-2 text-muted">Tina Morgan</h3>
        <p class="card-text">503.819.3255</p>
        <a href="#" class="card-link">glamourisepdx.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Cassandra Kennedy Beauty</h2>
        <h3 class="card-subtitle mb-2 text-muted">Cassandra Kennedy</h3>
        <p class="card-text">971.295.7770</p>
        <a href="#" class="card-link">cassandraKennedy.com</a>
      </div>
    </div>
    </div>
    <h1>Photographers</h1>
  <div class="cards">
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Aniko Productions</h2>
        <h3 class="card-subtitle mb-2 text-muted">Rebecca Niko</h3>
        <p class="card-text">503.833.2479</p>
        <a href="#" class="card-link">anikoproductions.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Aralani Photography</h2>
        <h3 class="card-subtitle mb-2 text-muted">Ara Roselani</h3>
        <p class="card-text">503.539.7299</p>
        <a href="#" class="card-link">aralani.com</a>
      </div>
    </div>
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">Jessica Hill Photography</h2>
        <h3 class="card-subtitle mb-2 text-muted">Jessica Hill</h3>
        <a href="#" class="card-link">jessicahillphotography.com</a>
      </div>
    </div>
    </div>
    <h1>Transportation / Limo Service</h1>
    <div class="cards">
      <div class="card" >
        <div class="card-body">
          <h2 class="card-title">Lucky Limousine </h2>
          <h3 class="card-subtitle mb-2 text-muted">Holly Gardner</h3>
          <p class="card-text">503.254.0010</p>
          <a href="#" class="card-link">besolucky.com</a>
        </div>
      </div>
      <div class="card" >
        <div class="card-body">
          <h2 class="card-title">JMI Transportation</h2>
          <h3 class="card-subtitle mb-2 text-muted">Ann Hawkey</h3>
          <p class="card-text">503.671.9966</p>
          <a href="#" class="card-link">portlandlimos.com</a>
        </div>
      </div>
      <div class="card" >
        <div class="card-body">
          <h2 class="card-title">Aspen Limo Tours</h2>
          <p class="card-text">503.274.9505</p>
          <a href="#" class="card-link">aspenlimo.com</a>
        </div>
      </div>
      </div>