header{
    
    color: goldenrod;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
}
h1{
    font-weight: bold;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
.cards{
    display:flex;
}
.card {
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width:40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 30rem;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px); 
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

.card-subtitle {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.card-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}
.card:hover .card-title {
    color: #007bff; /* Change title color on hover */
  }

  .card:hover .card-link {
    color: #28a745; /* Change link color on hover */
  }