<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div>
  <!-- <button (click)="back()"> <span class="glyphicon glyphicon-backward"></span></button> -->

  <button class="back-btn" (click)="back()">
    <span class="glyphicon glyphicon-backward"></span>
  </button>
  
  <h3>{{category}}</h3>
    <div class="container">
      <div class="row">
       
        <div *ngFor="let services of Services" class="col-lg-3 col-md-4 col-sm-6">
         
          <div class="card">
            <img class="card-img-top" src="{{services.image}}" alt="Card image">
            <div class="card-body">

              <h4 class="card-title">{{services.name}}</h4>
              <p class="card-text">{{services.category}}</p>
              <p class="card-text">{{services.description}}</p>
              <p class="card-text">{{services.price | currency:"INR"}}</p>
              <button class="btn btn-primary" (click)="addToCart(services)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>