/* Styles for the container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* margin-top: -80px; */
  }
  
  /* Styles for section headers */
  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: gold;
    font-style: italic;
  }
  
  /* Styles for the card */
  .card {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for the card image */
  .card-img-top {
    width: 100%;
    height: 500px; /* Adjust image height as needed */
    object-fit: cover;

  }
  
  /* Styles for the card title */
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center text horizontally */
  }
  
  /* Styles for the card text */
  .card-text {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center; /* Center text horizontally */
  }
  
  /* Styles for the add to cart button */
  .btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: auto; /* Push the button to the bottom */
  }
  
  /* Responsive styles for columns */
  @media (min-width: 768px) {
    .col-lg-3 {
      flex: 0 0 calc(33.3333% - 20px);
      max-width: calc(33.3333% - 20px);
    }
  }
  
  @media (max-width: 767px) {
    .col-md-4 {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the card body takes full height */
  }
  
  .back-btn {
  
    color: #0b0b0b; /* Text color */
    border: none; /* Remove button border */
    padding: 8px 12px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 20px;
  }
  
  /* Styles for the glyphicon icon */
  .glyphicon {
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  /* Hover styles for button */
  .back-btn:hover {
    background-color: #f8e8a6; /* Darker color on hover */
  }
  