.cards {
    display: flex;
    gap: 10px;
    width: 100%; 
  }
  
  .card {
    width: 30rem; 
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
       
    }
  }

  .card:hover {
    transform: scale(1.05); 
  }
  
  .card:hover .card-img-top {
    transform: scale(1.1); 
  }
  
  .card:hover .card-body {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 20px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: goldenrod;
    font-style: italic;
  }
  
  .image-container {
    flex: 0 0 30%; /* 30% width for image */
    order: 1; /* display image first */
  }
  
  .image-container img {
    width: 350px;
    height: 350px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* add hover effect */
  }
  
  .image-container img:hover {
    transform: scale(1.05); /* increase the size of the image on hover */
  }
  
  .text-container {
    flex: 0 0 65%; /* 65% width for text */
    order: 2; /* display text after image */
    padding-top: 50px;
    font-size: 18px; /* increase text size */
    line-height: 1.5; /* add more space between lines */
    color: #333; /* set text color */
    /* font-weight: 400;  */
    margin-bottom: 50px; /* add space below text container */
    text-align: justify; 
    font-family: 'Courier New', Courier, monospace;
  }