.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    background-image: url('https://i.pinimg.com/564x/3a/e5/23/3ae523396215bfe80265f05707423ec5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.4; */
  }
  
  h1 {
    text-align: center; /* Centers the text horizontally within the container */
  }
  
  