 
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0, 0, 0.2);
  }
  
  
  .card-body {
    padding: 0; 
  }
  
  
  .card-img-top {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  
  .card-details {
    padding: 20px;
    text-align: center; 
  }
  
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  .card-text {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  
  .btn {
    font-size: 16px;
    padding: 10px 15px; 
    margin: 10px auto; 
    display: block;
    width: 150px; 
  }
  
  
  
  h3{
    text-align: center;
    font-style: italic;
    color:goldenrod;
  }
   
  .back-btn {
  
  color: #0b0b0b; 
  padding: 8px 12px; 
  border-radius: 5px; 
  cursor: pointer;
  margin: 20px;
  }
  
  
  .glyphicon {
  margin-right: 5px; 
  }
  
 
  .back-btn:hover {
  background-color: #f8e8a6; 
  }
  
  
  .add-new-btn {
    align-self: flex-end; 
    margin-right: 20px; 
  }

 