<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div>
  <!-- <button (click)="back()"> <span class="glyphicon glyphicon-backward"></span></button> -->

  <button class="back-btn" (click)="back()">
    <span class="glyphicon glyphicon-backward"></span>
  </button>
  <button class="btn btn-primary add-new-btn" (click)="addnew()">Add New</button>
  <h3>{{category}}</h3>
    <div class="container">
      <div class="row">
     
        <div *ngFor="let services of Services" class="col-lg-3 col-md-4 col-sm-6">
        
          <div class="card">
            <img class="card-img-top" src="{{services.image}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{services.name}}</h4>
              <p class="card-text">{{services.description}}</p>
              <p class="card-text">{{services.price | currency:"INR"}}</p>
              <button  class="btn btn-primary" (click)="editServices(services)">Edit</button>
              <button  class="btn btn-danger" (click)="deleteServices(services)" >Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div id="empModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
  
          <div class="modal-header">
            <h5 class="modal-title">Update Services</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div class="modal-body">
              <table align="center">
                  <tbody>
                    <tr>
                      <td>Category</td>
                      <td><input type="text" name="category" [(ngModel)]="Services.category"/></td>
                  </tr>
                      <tr>
                          <td>Name</td>
                          <td><input type="text" name="name" [(ngModel)]="Services.name"/></td>
                      </tr>
                      <tr>
                          <td>Description</td>
                          <td><input type="text" name="description" [(ngModel)]="Services.description" /></td>
                      </tr>                            
                      <tr>
                          <td>Price</td>
                          <td><input type="text" name="price" [(ngModel)]="Services.price"  /></td>
                      </tr>
                      <tr>
                          <td>Image</td>
                          <td><input type="text" name="image" [(ngModel)]="Services.image"  /></td>
                      </tr>
                     
                  </tbody>
              </table>
          </div>
  
          <div class="modal-footer">
            <button type="button" (click)="updateServices()" class="btn btn-secondary" data-dismiss="modal">Update Services</button>
          </div>
  
        </div>
      </div>
    </div>