.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.images-container img {
    width: 200px; 
    height: auto; 
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.images-container img:hover {
    transform: scale(1.1);
}

.text {
    text-align: center;
    max-width: 600px;
    
}

.text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

.text p {
    font-size: 16px;
    color: rgb(12, 12, 12);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.body {
    background-image: url('https://i.pinimg.com/564x/b6/9f/e0/b69fe076894168d9add81c431df514d7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8); 
}