<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="body">
    <div id="div1">
        <div>
            <h1>Registration</h1>
            <form novalidate #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                <div class="form-group">
                    <label for="name">Enter the Name</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="customerName" ngModel #name="ngModel" id="name" class="form-control" required />
                    </div>
                    <br>
                </div>
              
                <div class="form-group">
                    <label for="email">Enter the Email:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="email" ngModel #email="ngModel" name="emailId" id="email" class="form-control" required minlength="5" pattern="[a-zA-Z0-9._%+-]+@gmail\.com"/>
                    </div>
                    <br>
                    <p class="error-message" *ngIf="email.errors?.['required'] && email.touched">Please enter your email.</p>
                    <p class="error-message" *ngIf="email.errors?.['minlength'] && email.touched">Email must be at least 5 characters long.</p>
                    <p class="error-message" *ngIf="email.errors?.['email'] && email.touched">Please enter a valid email address.</p>
                    <div style="color:red;" *ngIf="email.errors?.['pattern']">
                        Email must be in valid format
                    </div>
                </div>
                
    
                <div class="form-group">
                    <label for="password">Enter the password:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" name="password" ngModel #password="ngModel" id="password" class="form-control"
                            required minlength="5" maxlength="20" pattern="^(?=.*[!@#$%^&])(?=.*[A-Z]).{1,10}$"/>
                    </div>
                    <br>
                    <p class="error-message" *ngIf="password.errors?.['required']&&password.touched&&password.dirty">Please enter the Password</p>
                    <p class="error-message" *ngIf="password.errors?.['minlength']">Password should contain more than 5 characters</p>
                    <p class="error-message" *ngIf="password.errors?.['maxlength']">Password cannot contain more than 10 characters</p>
                    <p class="error-message" *ngIf="password.errors?.['pattern']">Password must contain at least one special character and one uppercase letter</p>
                </div>
                
    
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-check"></span></span>
                        <input type="password" ngModel #confirmpass="ngModel" name="confirmpassword" id="confirmpassword" required
                            class="form-control" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="registerForm.value.password !== registerForm.value.confirmpassword && !confirmpass.errors?.['required']">Passwords did not match</div>
                </div>
               
    
                <div class="form-group">
                    <label for="number">Mobile number:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input required type="tel" ngModel #number="ngModel" name="mobile" id="number" class="form-control"
                            maxlength="10" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="number.errors?.['maxlength']&&number.touched&&number.dirty">Phone number contains only 10 characters</div>
                </div>
                
               
                <div class="form-group">
                    <label for="address">Address:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                        <input required ngModel #address="ngModel" name="address" id="address" class="form-control"
                            maxlength="40" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="address.errors?.['maxlength'] && address.touched && address.dirty">Address cannot contain more than 40 characters</div>
                </div>
                
    
                <div class="form-group">
                    <label for="city">City</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" name="city" ngModel #city="ngModel" id="city" class="form-control" maxlength="30" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="city.errors?.['maxlength']&&city.touched&&city.dirty">City cannot have more than 30 characters</div>
                </div>
                
    
                <div class="form-group">
                    <label for="country">country:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                        <input type="text" name="country" ngModel #country="ngModel" id="country" class="form-control" />
                    </div>
                </div>
                
    
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" required id="check"> 
                    <label class="form-check-label" for="check">I agree to the <a href="#">terms and conditions</a></label>
                </div><br>
               
                
    
                <button class="btn btn-primary"  type="submit" [disabled]="registerForm.invalid"> Register</button>
            </form>
        </div>
    </div>
    
</div> -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="body">
    <div id="div1">
        <div>
            <h1>Registration</h1>
            <form novalidate #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="customerName" ngModel #name="ngModel" id="name" class="form-control" required placeholder="Enter your name" />
                    </div>
                    <br>
                </div>
    
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="email" ngModel #email="ngModel" name="emailId" id="email" class="form-control" required minlength="5" pattern="[a-zA-Z0-9._%+-]+@gmail\.com" placeholder="Enter your email" />
                    </div>
                    <br>
                    <p class="error-message" *ngIf="email.errors?.['required'] && email.touched">Please enter your email.</p>
                    <p class="error-message" *ngIf="email.errors?.['minlength'] && email.touched">Email must be at least 5 characters long.</p>
                    <p class="error-message" *ngIf="email.errors?.['email'] && email.touched">Please enter a valid email address.</p>
                    <div style="color:red;" *ngIf="email.errors?.['pattern']">
                        Email must be in valid format
                    </div>
                </div>
    
                <div class="form-group">
                    <!-- <label for="password">Enter the password:</label> -->
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" name="password" ngModel #password="ngModel" id="password" class="form-control"
                            required minlength="5" maxlength="20" pattern="^(?=.*[!@#$%^&])(?=.*[A-Z]).{1,10}$" placeholder="Enter Your Password"/>
                    </div>
                    <br>
                    <p class="error-message" *ngIf="password.errors?.['required']&&password.touched&&password.dirty">Please enter the Password</p>
                    <p class="error-message" *ngIf="password.errors?.['minlength']">Password should contain more than 5 characters</p>
                    <p class="error-message" *ngIf="password.errors?.['maxlength']">Password cannot contain more than 10 characters</p>
                    <p class="error-message" *ngIf="password.errors?.['pattern']">Password must contain at least one special character and one uppercase letter</p>
                </div>
    
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-check"></span></span>
                        <input type="password" ngModel #confirmpass="ngModel" name="confirmpassword" id="confirmpassword" required
                            class="form-control" placeholder="Confirm your password" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="registerForm.value.password !== registerForm.value.confirmpassword && !confirmpass.errors?.['required']">Passwords did not match</div>
                </div>
    
                <!-- <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input required type="tel" ngModel #number="ngModel" name="mobile" id="number" class="form-control"
                            maxlength="10" placeholder="Enter your mobile number" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="number.errors?.['maxlength']&&number.touched&&number.dirty">Phone number contains only 10 characters</div>
                </div> -->
    
                <!-- <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                        <input required ngModel #address="ngModel" name="address" id="address" class="form-control"
                            maxlength="40" placeholder="Enter your address" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="address.errors?.['maxlength'] && address.touched && address.dirty">Address cannot contain more than 40 characters</div>
                </div> -->
    
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" name="city" ngModel #city="ngModel" id="city" class="form-control" maxlength="30" placeholder="Enter your city" />
                    </div>
                    <br>
                    <div class="error-message" *ngIf="city.errors?.['maxlength']&&city.touched&&city.dirty">City cannot have more than 30 characters</div>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                        <input type="text" name="country" ngModel #country="ngModel" id="country" class="form-control" placeholder="Enter your country" />
                    </div>
                </div>
    
                <div class="agreement">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" required id="check"> 
                        <label class="form-check-label" for="check">I I I agree to the <a href="#">terms and conditions</a></label>
                    </div>
                </div><br>
               
                <button class="btn btn-primary"  type="submit" [disabled]="registerForm.invalid"> Register</button>
            </form>
        </div>
    </div>
</div>