/* .body {
    background-image: url('https://www.moltobellaweddings.com/wp-content/uploads/2019/03/toss-wedding-bouquet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    opacity: 0.7;
    padding-left: 20px; 
}

#div1 {
    width: 50%; 
    max-width: 600px; 
    border: none;
    border-radius: 5px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif'; 
    height: 100vh;
    
   
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form {
    width: 100%; 
}
.form-group{
    font-style: bold;
}

.form-group .input-group-addon {
    border: none;
    background: none;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

.form-control {
    border-radius: 4px;
    border: none;
    font-size: 0.9em;  
    
    height: 35px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';   
}

.input-group-addon {
    border: 1px solid #ccc;
    font-size: 0.9em;  
    line-height: 1.8;  
}

.error-message {
    color: red;
    margin-top: -8px;
    margin-bottom: 4px;
    font-size: 0.8em;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';  
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';  
}

.btn-primary:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    padding-left: 10px;
}

.form-check-label a {
    color: #007bff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';  
}

.form-check-label a:hover {
    text-decoration: underline;
}

.form-check-inline {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';  
} */


/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
} */
.body{
    background-image: url('https://i.pinimg.com/564x/d3/39/77/d33977c50615e93c65cf697b256b3ab3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

form {
    max-width: 600px;
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(9, 9, 9, 0.1); */
}

.form-group {
    margin-bottom: 7px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 3px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

input[type="checkbox"] {
    margin-top: 5px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    /* background-color: #007bff; */
    border: none;
    color: #0b0b0b;
    cursor: pointer;
    border-radius: 3px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
}

.agreement {
    margin-top: 20px;
}