<div class="container">
  <h2>Customer Details</h2>
  <table class="table">
    <thead>
      <tr>
        <!-- <th>Customer ID</th> -->
        <th>Phone Number</th>
        <th>Event Date</th>
        <th>Total Price</th>
        <th>Address</th>
        <!-- <th>Item Name</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerDetails">
        <!-- <td>{{ customer.custId }}</td> -->
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.eventDate }}</td>
        <td>{{ customer.totalPrice }}</td>
        <td>{{ customer.address }}</td>
        <!-- <td>{{ customer.itemName }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
