/* Styles for container */
.container {
    margin-top: 20px;
  }
  
  /* Styles for table */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Table border */
  }
  
  /* Styles for table headings */
  .table th {
    background-color: #f2f2f2; /* Light background color */
    color: #333; /* Text color */
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd; /* Bottom border for headings */
  }
  
  /* Styles for table rows */
  .table td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Bottom border for rows */
  }
  
  /* Optional: Hover effect on table rows */
  .table tbody tr:hover {
    background-color: goldenrod; /* Light hover background color */
  }
  
  /* Optional: Responsive table */
  @media (max-width: 768px) {
    .table {
      overflow-x: auto; /* Enable horizontal scrolling on small screens */
    }
  }
  h2{
    text-align: center;
    color: goldenrod;
  }
  