.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles for the card */
  .card {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for the card image */
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Styles for the card text */
  .card-text {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Styles for the add to cart button */
  .btn {
    font-size: 16px;
    padding: 10px 15px; /* Decreased padding */
    margin: 10px auto; /* Center horizontally and add margin */
    display: block;
    width: 150px; /* Adjust width based on content */
  }
  
  
  
  h3{
    text-align: center;
    font-style: italic;
    color: gold;
  }
  
  /* Responsive styles for columns */
  @media (max-width: 991px) {
    .col-lg-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 575px) {
    .col-sm-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  .back-btn {
    
    color: #0b0b0b; /* Text color */
    border: none; /* Remove button border */
    padding: 8px 12px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 20px;
  }
  
  /* Styles for the glyphicon icon */
  .glyphicon {
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  /* Hover styles for button */
  .back-btn:hover {
    background-color: #f8e8a6; /* Darker color on hover */
  }
  
  