<!-- 
<div>

    <button class="back-btn" (click)="back()">
      <span class="glyphicon glyphicon-backward"></span>
    </button>
    
    <h3>Dinnings</h3>
    <div class="container">
      <div class="row">
        <div *ngFor="let dinning of Dinnings" class="col-lg-4 col-md-4 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="{{dinning.image}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{dinning.name}}</h4>
              <p class="card-text">{{dinning.description}}</p>
              <p class="card-text">{{dinning.price | currency:"INR"}}</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->